$gray: #eee;



.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

md-content.md-default-theme {
  background-color: $gray;
}

md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}

md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}

h2 {
  font-weight: 400;
}

.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}

.user-avatar {
  border-radius: 99%;
}